@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* font-family: 'Spectral', serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.welcome-text {
  font-family: 'Spectral', serif;
}
.o-text {
  font-family: 'Spectral', serif;
}
